<!-- <p>{{taskType}}</p> -->

<div class="wrapper">
  <div class="header-wrapper">
  <p class="header">{{taskType}} </p>
  <img class="header-icon"
  src={{iconSource}}
  alt="" srcset="">
  <button class="task-section-button">...</button>
</div>
  <div class="scrollable">
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
  <app-task-card></app-task-card>
</div>
</div>
