button {
  height       : 35px;
  width        : 35px;
  border-radius: 50%;
  border       : none;
  outline      : none;
  cursor       : pointer;
}

#test {
  background-image   : url('../../../../assets/Avatar/avatar.jpg') no-repeat 35px 35px;
}
