<div class="wrapper">
  <h5>Owner</h5>
  <h2>Julian Musa</h2>
  <div class="details">
    <img src="../../../../assets/Avatar/avatar.jpg" alt="">
    <h6>Email</h6>
  </div>
  <br>
  <div class="actions">
    <h4>Description</h4>
    <button>edit</button>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex accusantium dolore a neque iusto dolor perspiciatis, id suscipit nam doloribus error exercitationem, consequatur itaque voluptatem officiis doloremque cum culpa pariatur?</p>
</div>
